body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u19577 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u19578 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1265px;
}
#u19579 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:1265px;
}
#u19580 {
  position:absolute;
  left:2px;
  top:624px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u19581 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u19582 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u19583 {
  position:absolute;
  left:0px;
  top:334px;
  width:198px;
  height:45px;
}
#u19584 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u19586 {
  position:absolute;
  left:19px;
  top:79px;
  width:21px;
  height:17px;
}
#u19587 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19588 {
  position:absolute;
  left:58px;
  top:77px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19589 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19590 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19591 {
  position:absolute;
  left:58px;
  top:243px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19592 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u19593 {
  position:absolute;
  left:18px;
  top:244px;
  width:20px;
  height:19px;
}
#u19594 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19595 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19596 {
  position:absolute;
  left:16px;
  top:296px;
  width:20px;
  height:20px;
}
#u19597 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19598 {
  position:absolute;
  left:58px;
  top:296px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19599 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19600 {
  position:absolute;
  left:25px;
  top:21px;
  width:226px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19601 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u19602 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19603 {
  position:absolute;
  left:58px;
  top:346px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19604 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u19605 {
  position:absolute;
  left:16px;
  top:346px;
  width:19px;
  height:20px;
}
#u19606 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19607 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19608 {
  position:absolute;
  left:58px;
  top:130px;
  width:66px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19609 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19610 {
  position:absolute;
  left:18px;
  top:131px;
  width:20px;
  height:20px;
}
#u19611 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19612 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19613 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19614 {
  position:absolute;
  left:58px;
  top:187px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u19615 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19616 {
  position:absolute;
  left:18px;
  top:188px;
  width:20px;
  height:20px;
}
#u19617 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19618 {
  position:absolute;
  left:70px;
  top:403px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u19619 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u19620 {
  position:absolute;
  left:70px;
  top:448px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u19621 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19622 {
  position:absolute;
  left:1709px;
  top:66px;
  width:371px;
  height:234px;
}
#u19623 {
  position:absolute;
  left:2px;
  top:109px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19624 {
  position:absolute;
  left:1709px;
  top:66px;
  width:371px;
  height:41px;
}
#u19625 {
  position:absolute;
  left:2px;
  top:12px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u19626 {
  position:absolute;
  left:2046px;
  top:74px;
  width:27px;
  height:27px;
  font-size:20px;
  color:#E4E4E4;
}
#u19627 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u19628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19628 {
  position:absolute;
  left:1844px;
  top:75px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u19629 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19630 {
  position:absolute;
  left:1752px;
  top:133px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u19631 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19632 {
  position:absolute;
  left:1752px;
  top:249px;
  width:104px;
  height:30px;
  color:#FFFFFF;
}
#u19633 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u19634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19634 {
  position:absolute;
  left:1888px;
  top:249px;
  width:104px;
  height:30px;
}
#u19635 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u19636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19636 {
  position:absolute;
  left:1752px;
  top:192px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u19637 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19638 {
  position:absolute;
  left:1820px;
  top:130px;
  width:181px;
  height:25px;
}
#u19638_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19639 {
  position:absolute;
  left:1820px;
  top:191px;
  width:181px;
  height:25px;
}
#u19639_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19640 {
  position:absolute;
  left:1709px;
  top:333px;
  width:371px;
  height:234px;
}
#u19641 {
  position:absolute;
  left:2px;
  top:109px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19642 {
  position:absolute;
  left:1709px;
  top:333px;
  width:371px;
  height:41px;
}
#u19643 {
  position:absolute;
  left:2px;
  top:12px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19644 {
  position:absolute;
  left:1844px;
  top:342px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u19645 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u19646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19646 {
  position:absolute;
  left:1752px;
  top:516px;
  width:104px;
  height:30px;
  color:#FFFFFF;
}
#u19647 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u19648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19648 {
  position:absolute;
  left:1888px;
  top:516px;
  width:104px;
  height:30px;
}
#u19649 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u19650 {
  position:absolute;
  left:1775px;
  top:433px;
  width:100px;
  height:16px;
}
#u19651 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19650_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19652 {
  position:absolute;
  left:1899px;
  top:433px;
  width:100px;
  height:16px;
}
#u19653 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19652_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:294px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19654 {
  position:absolute;
  left:1709px;
  top:594px;
  width:371px;
  height:294px;
}
#u19655 {
  position:absolute;
  left:2px;
  top:139px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19656 {
  position:absolute;
  left:1709px;
  top:594px;
  width:371px;
  height:41px;
}
#u19657 {
  position:absolute;
  left:2px;
  top:12px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u19658 {
  position:absolute;
  left:2046px;
  top:601px;
  width:27px;
  height:27px;
  font-size:20px;
  color:#E4E4E4;
}
#u19659 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u19660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u19660 {
  position:absolute;
  left:1811px;
  top:604px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u19661 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u19662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19662 {
  position:absolute;
  left:1797px;
  top:831px;
  width:150px;
  height:30px;
  color:#FFFFFF;
}
#u19663 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u19664 {
  position:absolute;
  left:1752px;
  top:838px;
  width:100px;
  height:16px;
}
#u19665 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19664_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19666 {
  position:absolute;
  left:1769px;
  top:671px;
  width:100px;
  height:16px;
}
#u19667 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19666_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19668 {
  position:absolute;
  left:1879px;
  top:671px;
  width:100px;
  height:16px;
}
#u19669 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19668_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19670 {
  position:absolute;
  left:1769px;
  top:761px;
  width:100px;
  height:16px;
}
#u19671 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19670_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19672 {
  position:absolute;
  left:1769px;
  top:713px;
  width:100px;
  height:16px;
}
#u19673 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19672_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19674 {
  position:absolute;
  left:1879px;
  top:713px;
  width:100px;
  height:16px;
}
#u19675 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19674_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u19676 {
  position:absolute;
  left:2046px;
  top:341px;
  width:27px;
  height:27px;
  font-size:20px;
  color:#E4E4E4;
}
#u19677 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u19678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u19678 {
  position:absolute;
  left:70px;
  top:489px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#169BD5;
}
#u19679 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19680 {
  position:absolute;
  left:244px;
  top:111px;
  width:309px;
  height:40px;
}
#u19680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u19681 {
  position:absolute;
  left:244px;
  top:178px;
  width:309px;
  height:40px;
}
#u19681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u19682 {
  position:absolute;
  left:244px;
  top:243px;
  width:309px;
  height:40px;
}
#u19682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u19683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19683 {
  position:absolute;
  left:244px;
  top:305px;
  width:140px;
  height:40px;
}
#u19684 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
