body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u18612 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u18613 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:989px;
}
#u18614 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:989px;
}
#u18615 {
  position:absolute;
  left:2px;
  top:486px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u18616 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u18617 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u18618 {
  position:absolute;
  left:0px;
  top:175px;
  width:198px;
  height:45px;
}
#u18619 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u18621 {
  position:absolute;
  left:19px;
  top:79px;
  width:21px;
  height:17px;
}
#u18622 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18623 {
  position:absolute;
  left:58px;
  top:77px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18624 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18625 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18626 {
  position:absolute;
  left:58px;
  top:243px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18627 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u18628 {
  position:absolute;
  left:18px;
  top:244px;
  width:20px;
  height:19px;
}
#u18629 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18631 {
  position:absolute;
  left:16px;
  top:296px;
  width:20px;
  height:20px;
}
#u18632 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18633 {
  position:absolute;
  left:58px;
  top:296px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18634 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18635 {
  position:absolute;
  left:25px;
  top:21px;
  width:226px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18636 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u18637 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18638 {
  position:absolute;
  left:58px;
  top:346px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18639 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u18640 {
  position:absolute;
  left:16px;
  top:346px;
  width:19px;
  height:20px;
}
#u18641 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18643 {
  position:absolute;
  left:58px;
  top:130px;
  width:66px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18644 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18645 {
  position:absolute;
  left:18px;
  top:131px;
  width:20px;
  height:20px;
}
#u18646 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18647 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18649 {
  position:absolute;
  left:58px;
  top:187px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18650 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18651 {
  position:absolute;
  left:18px;
  top:188px;
  width:20px;
  height:20px;
}
#u18652 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:43px;
}
#u18653 {
  position:absolute;
  left:1338px;
  top:72px;
  width:262px;
  height:43px;
}
#u18654 {
  position:absolute;
  left:2px;
  top:14px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18655 {
  position:absolute;
  left:224px;
  top:77px;
  width:242px;
  height:50px;
}
#u18656 {
  position:absolute;
  left:2px;
  top:17px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18657 {
  position:absolute;
  left:245px;
  top:94px;
  width:10px;
  height:18px;
}
#u18658 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18659 {
  position:absolute;
  left:270px;
  top:92px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18660 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18661 {
  position:absolute;
  left:224px;
  top:215px;
  width:867px;
  height:39px;
}
#u18661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:867px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u18662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18662 {
  position:absolute;
  left:224px;
  top:175px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18663 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:335px;
}
#u18664 {
  position:absolute;
  left:217px;
  top:284px;
  width:883px;
  height:335px;
}
#u18665 {
  position:absolute;
  left:2px;
  top:160px;
  width:879px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u18666 {
  position:absolute;
  left:230px;
  top:330px;
  width:99px;
  height:16px;
  color:#CCCCCC;
}
#u18667 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u18668 {
  position:absolute;
  left:221px;
  top:629px;
  width:870px;
  height:39px;
}
#u18668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18668_input:disabled {
  color:grayText;
}
#u18669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u18669 {
  position:absolute;
  left:221px;
  top:814px;
  width:287px;
  height:40px;
  font-size:18px;
}
#u18670 {
  position:absolute;
  left:2px;
  top:9px;
  width:283px;
  word-wrap:break-word;
}
#u18671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u18671 {
  position:absolute;
  left:530px;
  top:814px;
  width:109px;
  height:40px;
  font-size:18px;
}
#u18672 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u18673 {
  position:absolute;
  left:221px;
  top:685px;
  width:870px;
  height:39px;
}
#u18673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18673_input:disabled {
  color:grayText;
}
