body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1747px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1459px;
  height:367px;
}
#u5852 {
  position:absolute;
  left:0px;
  top:0px;
  width:1459px;
  height:367px;
}
#u5853 {
  position:absolute;
  left:2px;
  top:176px;
  width:1455px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:363px;
}
#u5854 {
  position:absolute;
  left:57px;
  top:2px;
  width:1235px;
  height:363px;
}
#u5855 {
  position:absolute;
  left:2px;
  top:174px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1217px;
  height:472px;
}
#u5856 {
  position:absolute;
  left:67px;
  top:375px;
  width:1217px;
  height:472px;
}
#u5857 {
  position:absolute;
  left:2px;
  top:228px;
  width:1213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:51px;
}
#u5858 {
  position:absolute;
  left:73px;
  top:857px;
  width:878px;
  height:51px;
}
#u5859 {
  position:absolute;
  left:2px;
  top:18px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:50px;
}
#u5860 {
  position:absolute;
  left:79px;
  top:858px;
  width:121px;
  height:50px;
}
#u5861 {
  position:absolute;
  left:2px;
  top:17px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
}
#u5862 {
  position:absolute;
  left:357px;
  top:858px;
  width:121px;
  height:46px;
}
#u5863 {
  position:absolute;
  left:2px;
  top:15px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u5864 {
  position:absolute;
  left:376px;
  top:866px;
  width:83px;
  height:29px;
}
#u5865 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5866 {
  position:absolute;
  left:384px;
  top:874px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5867 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5868 {
  position:absolute;
  left:107px;
  top:874px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5869 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1315px;
  height:916px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5870 {
  position:absolute;
  left:-23px;
  top:0px;
  width:1315px;
  height:916px;
}
#u5871 {
  position:absolute;
  left:2px;
  top:450px;
  width:1311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1770px;
  height:892px;
}
#u5872 {
  position:absolute;
  left:0px;
  top:0px;
  width:1770px;
  height:892px;
}
#u5873 {
  position:absolute;
  left:2px;
  top:438px;
  width:1766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:36px;
}
#u5874 {
  position:absolute;
  left:57px;
  top:165px;
  width:262px;
  height:36px;
}
#u5875 {
  position:absolute;
  left:2px;
  top:10px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:21px;
}
#u5876 {
  position:absolute;
  left:57px;
  top:167px;
  width:266px;
  height:21px;
}
#u5877 {
  position:absolute;
  left:2px;
  top:2px;
  width:262px;
  visibility:hidden;
  word-wrap:break-word;
}
