body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:141px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:545px;
}
#u140 {
  position:absolute;
  left:38px;
  top:16px;
  width:103px;
  height:545px;
}
#u141 {
  position:absolute;
  left:2px;
  top:264px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
