body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:3887px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:3887px;
}
#u139 {
  position:absolute;
  left:2px;
  top:1936px;
  width:978px;
  visibility:hidden;
  word-wrap:break-word;
}
