body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u21370 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:64px;
}
#u21371 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:1325px;
}
#u21372 {
  position:absolute;
  left:0px;
  top:64px;
  width:198px;
  height:1325px;
}
#u21373 {
  position:absolute;
  left:2px;
  top:654px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
}
#u21374 {
  position:absolute;
  left:16px;
  top:13px;
  width:182px;
  height:38px;
}
#u21375 {
  position:absolute;
  left:2px;
  top:11px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21376 {
  position:absolute;
  left:236px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21377 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21378 {
  position:absolute;
  left:344px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21379 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21380 {
  position:absolute;
  left:553px;
  top:21px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21381 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21382 {
  position:absolute;
  left:630px;
  top:21px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21383 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
}
#u21384 {
  position:absolute;
  left:335px;
  top:43px;
  width:96px;
  height:14px;
}
#u21385 {
  position:absolute;
  left:2px;
  top:-1px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
}
#u21386 {
  position:absolute;
  left:1442px;
  top:18px;
  width:141px;
  height:29px;
}
#u21387 {
  position:absolute;
  left:2px;
  top:6px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:45px;
}
#u21388 {
  position:absolute;
  left:0px;
  top:176px;
  width:198px;
  height:45px;
}
#u21389 {
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21390 {
  position:absolute;
  left:477px;
  top:21px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21391 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21392 {
  position:absolute;
  left:16px;
  top:296px;
  width:20px;
  height:20px;
}
#u21393 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u21394 {
  position:absolute;
  left:16px;
  top:79px;
  width:21px;
  height:17px;
}
#u21395 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21396 {
  position:absolute;
  left:58px;
  top:77px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21397 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21398 {
  position:absolute;
  left:58px;
  top:187px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21399 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u21400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21400 {
  position:absolute;
  left:58px;
  top:238px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21401 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21402 {
  position:absolute;
  left:58px;
  top:296px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21403 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21404 {
  position:absolute;
  left:58px;
  top:134px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21405 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u21406 {
  position:absolute;
  left:17px;
  top:186px;
  width:19px;
  height:20px;
}
#u21407 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21408 {
  position:absolute;
  left:16px;
  top:239px;
  width:20px;
  height:20px;
}
#u21409 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u21410 {
  position:absolute;
  left:19px;
  top:135px;
  width:16px;
  height:20px;
}
#u21411 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21413 {
  position:absolute;
  left:234px;
  top:87px;
  width:242px;
  height:50px;
}
#u21414 {
  position:absolute;
  left:2px;
  top:17px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u21415 {
  position:absolute;
  left:255px;
  top:104px;
  width:10px;
  height:18px;
}
#u21416 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21417 {
  position:absolute;
  left:280px;
  top:102px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u21418 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u21419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21419 {
  position:absolute;
  left:494px;
  top:87px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u21420 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u21421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21421 {
  position:absolute;
  left:234px;
  top:177px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21422 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21424 {
  position:absolute;
  left:234px;
  top:340px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21425 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21426 {
  position:absolute;
  left:323px;
  top:335px;
  width:170px;
  height:30px;
}
#u21426_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u21427 {
  position:absolute;
  left:507px;
  top:335px;
  width:170px;
  height:30px;
}
#u21427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u21428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21429 {
  position:absolute;
  left:234px;
  top:404px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21430 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21431 {
  position:absolute;
  left:323px;
  top:399px;
  width:170px;
  height:30px;
}
#u21431_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u21432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21433 {
  position:absolute;
  left:234px;
  top:463px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21434 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21435 {
  position:absolute;
  left:323px;
  top:458px;
  width:354px;
  height:30px;
}
#u21435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u21435_input:disabled {
  color:grayText;
}
#u21436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21437 {
  position:absolute;
  left:234px;
  top:521px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21438 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21439 {
  position:absolute;
  left:323px;
  top:516px;
  width:170px;
  height:30px;
}
#u21439_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u21440 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21441 {
  position:absolute;
  left:234px;
  top:575px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21442 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21443 {
  position:absolute;
  left:323px;
  top:573px;
  width:170px;
  height:30px;
}
#u21443_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u21444 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21445 {
  position:absolute;
  left:234px;
  top:631px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21446 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21447 {
  position:absolute;
  left:323px;
  top:626px;
  width:170px;
  height:30px;
}
#u21447_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u21448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21448 {
  position:absolute;
  left:234px;
  top:682px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21449 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21451 {
  position:absolute;
  left:234px;
  top:826px;
  width:99px;
  height:20px;
  font-size:16px;
}
#u21452 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u21453 {
  position:absolute;
  left:323px;
  top:826px;
  width:354px;
  height:170px;
}
#u21453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u21454 {
  position:absolute;
  left:333px;
  top:177px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u21455 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u21456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#999999;
}
#u21456 {
  position:absolute;
  left:323px;
  top:682px;
  width:120px;
  height:120px;
  font-size:72px;
  color:#999999;
}
#u21457 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u21458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:2px;
}
#u21458 {
  position:absolute;
  left:234px;
  top:1062px;
  width:1039px;
  height:1px;
}
#u21459 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1035px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u21460 {
  position:absolute;
  left:234px;
  top:1101px;
  width:140px;
  height:50px;
  font-size:16px;
}
#u21461 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u21462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u21462 {
  position:absolute;
  left:463px;
  top:265px;
  width:300px;
  height:32px;
  color:#999999;
}
#u21463 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u21464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21464 {
  position:absolute;
  left:463px;
  top:239px;
  width:152px;
  height:16px;
}
#u21465 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
